/* @import url("https://fonts.googleapis.com/css?family=Source+Code+Pro|Noto+Sans+JP&display=swap"); */
@import url("https://fonts.googleapis.com/css?family=Ubuntu|Noto+Sans+JP&display=swap");
body {
  color: #f7f7f7;
  background-color: #333333;
  /* font-family: "Source Code Pro", "Lexend Deca", "Ubuntu", "Noto Sans JP","Avenir", Helvetica, Arial, sans-serif; */
  font-family: "Ubuntu", "Noto Sans JP", "Avenir", Helvetica, Arial, sans-serif;
  /* font-size: 1.23em; */
}

a {
  color: #66aa66;
  text-decoration: none;
}

a:hover {
  text-decoration: underline overline;
}

a:visited {
  color: #669966;
}
